@charset "UTF-8";

 * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }
 :root {
    --cor001: #3772A6;
    --cor002: #7A9FBF;
    --cor003: #D8E6F2;
    --cor004: #4F5859;
    --cor005: #BFADA8;
}
html, body {
    background-image: linear-gradient(to bottom, #3772a6ce, #381e42ce);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}
main {
    position: relative;
    width: 100vw;
    height: 100vh;
}
section#login {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
div#img {
    display: block;
    background: url(../imagens/pexels-helloiamtugce-14843365.jpg) no-repeat bottom;
    background-size: cover;
    height: 240px;
}
div#formulario{
    display: block;
    padding: 1em;
}
h1{
    text-align: center;
    font-size: 2em;
    padding: 8px;
}
div.campo {
    padding: 8px 0px;
}

